@import "tailwindcss";

@theme {
  --font-family-inter: "Inter", system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-inter);
  color: #111827;
  background-color: #ffffff;
}
